
body{
    background: black;
}
.navbar-container {
     display: flex;
     justify-content: space-between;
  }
.navbar-items{
  display: flex;
}
.logo-items{
  display: flex;
}
.logo-name{
    color:white;
  }
  .navbar a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-decoration: none;
    padding: 20px 14px 16px 20px; 
  }
  .navbar-btn{
    
  }
  p{
    color: white;
  }
  .slogan{
    font-size: 300%;
    padding-left: 100px;
  }
  .description{
    padding-left: 100px;
  }
